:root{
    --main-color:#0084FF;
}
.container{
    background-color: #f5f5f5;
}
a{
    color: #000;
}
.follow_class_box{
    width:100%;
    height:38px;
    padding-top: 5px;
    text-align: center;
    border-bottom:1px solid #bababa;
}
.follow_class{
    width:90px;
    height:30px;
    line-height:30px;
    border:1px solid #bababa;
    text-align: center;
    display: inline-block;
    color: #000;
}
.follow_user{
    border-right: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.follow_topic{
    border-left: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.selected{
    background-color: #0084FF;
    color: #fff;
}
.user_list{
    min-height: 32px;
    padding: 6px 0 6px 8px;
    background-color: #fff;
    border-bottom:1px solid #bababa;
}
.user_list a{
    display: block;
    /*width:90%;*/
    margin:0 40px;
    padding-top: 4px;
}
.head_portrait_box{
    float: left;
    /*display: inline-block;*/
}
.user_name{
    font-size: 16px;
    font-weight: 700;
}
.new_messages_num{
    font-size: 10px;
    color: #8a8a8a;
}
.follow_icon_box{
    /*height:64px;*/
    /*line-height: 64px;*/
    /*vertical-align: middle;*/
    padding: 3px 8px 3px 0px;

    display: block;
    float: right;
    width:32px;
    text-align: right;
}
.follow_action{
    width: 24px;
    height:24px;
    vertical-align: middle;
}
.head_portrait{
    width:32px;
    height:32px;
    border-radius: 5px;
    vertical-align: middle;
    /*margin-right: 12px;*/
}
/*.blank{*/
    /*color: #888;*/
    /*text-align: center;*/
    /*padding:50px 40px;*/
    /*display: none;*/
/*}*/
/*.blank p{*/
    /*height: 40px;*/
    /*line-height: 40px;*/
/*}*/
/*.blank img{*/
    /*vertical-align: middle;*/
/*}*/
.instructions{
    width: 100%;
    position: absolute;
    bottom:55px;
    color: #888888;
    font-size: 12px;
    text-align: center;
}
.instructions ol{
    list-style-position: inside;
}
.weui-tabbar{
    position: fixed;
    bottom:0;
}