*:focus{
    outline:none;
}
a{
    color: #000;
}
.container{
    padding-bottom:84px;
}
.weui-search-bar{
    width:100%;
    position: fixed;
    top:0;
    z-index: 10;
}
.topic_index_box{
    background-color: #f8f8f8;
    height: 30px;
    line-height: 28px;
    margin-top: 44px;
    overflow: hidden;
}
.topic_index_box nav{
    margin-right: 35px;
}
.topic_index{
    display: inline-block;
    text-align: center;
    padding:0px 10px;
}
.topic_index_selected{
    color: #0084FF;
    border-bottom:2px solid #0084FF;
}
.more_topic{
    height:35px;
    width:35px;
    text-align: left;
    position: absolute;
    top:45px;
    right:0px;
    line-height: 35px;
}
/*话题分类导航more，暂时去掉*/
/*.more,.close{*/
    /*width:20px;*/
/*}*/
/*文章内容盒子，index，detail-评论，mine*/
.content_box{
    padding-bottom:80px;
    overflow: hidden;
}
/*detail-原文*/
.content{
    /*padding:0 15px;*/
    border-bottom: 6px solid #e8e8e8;
    background-color: #fff;
    overflow: hidden;
}
.content_top{
    padding:0 15px;
    position: relative;
    height:30px;
    line-height: 30px;
}
.head_portrait{
    width:20px;
    height:20px;
    margin-right:10px;
    border-radius: 10px;
    margin-top: -4px;
    vertical-align: middle;
}
.wei_name{
    font-size:14px;
    color: #888888;
}
.content_txt{
    padding:0 15px;
    font-size:18px;
    line-height: 32px;
}
/*图片大小调整*/
/*ipad mini 768*1024*/
@media screen and (min-width: 768px)and (max-width: 1024px){
    .pic_show{
        width:808px;
        /*margin:0 auto;*/
        padding-top:5px;
        left:-20px;
    }
    .pic_show_list{
        width: 808px;
        text-align: center;
    }
    .userImg{
        position: relative;
        overflow: hidden;
        display: inline-block;
        /*float: left;*/
    }
    .pic_show img{
        width:269px;
    }
    .article_list_mark_img{
        position: absolute;
        top:0;
        left: 0;
    }
}
/*iphone6plus 414*736*/
@media screen and (min-width: 414px)and (max-width: 767px){
    .pic_show{
        width:454px;
        /*margin:0 auto;*/
        padding-top:5px;
        left:-20px;
    }
    .pic_show_list{
        width: 454px;
        text-align: center;
    }
    .userImg{
        position: relative;
        overflow: hidden;
        display: inline-block;
    }
    .pic_show img{
        width:151px;
    }
    .article_list_mark_img{
        position: absolute;
        top:0;
        left: 0;
    }
}
/*iphone6 375*667*/
@media screen and (min-width: 375px)and (max-width: 413px){
    .pic_show{
        width:415px;
        /*margin:0 auto;*/
        padding-top:5px;
        left:-20px;
    }
    .pic_show_list{
        width: 415px;
        text-align: center;
    }
    .userImg{
        position: relative;
        overflow: hidden;
        display: inline-block;
    }
    .pic_show img{
        width:138px;
    }
    .article_list_mark_img{
        position: absolute;
        top:0;
        left: 0;
    }
}
/*galaxy系列360*640*/
@media screen and (min-width: 360px)and (max-width: 374px){
    .pic_show{
        width:400px;
        /*margin:0 auto;*/
        padding-top:5px;
        left:-20px;
    }
    .pic_show_list{
        width: 390px;
        text-align: center;
    }
    .userImg{
        position: relative;
        overflow: hidden;
        display: inline-block;
    }
    .pic_show img{
        width:133px;
    }
    .article_list_mark_img{
        position: absolute;
        top:0;
        left: 0;
    }
}
@media screen and (max-width: 320px){
    .pic_show{
        width:360px;
        /*margin:0 auto;*/
        padding-top:5px;
        left:-20px;
    }
    .pic_show_list{
        width: 360px;
        text-align: center;
    }
    .userImg{
        position: relative;
        overflow: hidden;
        display: inline-block;
    }
    .pic_show img{
        width:120px;
    }
    .article_list_mark_img{
        position: absolute;
        top:0;
        left: 0;
    }
}

/*弹幕相关样式*/
/*.bullet_screen_button {*/
    /*font-size: 16px;*/
    /*height:50px;*/
    /*line-height: 50px;*/
    /*margin-left: 15px;*/
    /*float: left;*/
/*}*/
/*.bullet_screen_button_checkbox{*/
    /*width: 20px;*/
    /*height: 20px;*/
    /*vertical-align: middle;*/
/*}*/
/*.bullet_screen_button span{*/
    /*color: #fff;*/
    /*background: none;*/
/*}*/
/*.bullet_screen_content{*/
    /*border-top-left-radius: 5px;*/
    /*border-bottom-left-radius: 5px;*/
    /*border-top-right-radius: 0;*/
    /*border-bottom-right-radius: 0;*/
/*}*/
/*.bullet_screen .bullet_screen_content{*/
    /*position: absolute;*/
    /*top:8px;*/
    /*right:60px;*/
    /*padding:0 5px;*/
    /*font-size: 16px;*/
    /*color: #000;*/
    /*display: inline-block;*/
    /*width:55%;*/
    /*height:34px;*/
    /*line-height: 34px;*/
    /*float: right;*/
    /*border: none;*/
    /*margin-bottom: 10px;*/
/*}*/
/*.bullet_screen_submit_box{*/
    /*width: 50px;*/
    /*height:50px;*/
    /*float: right;*/
    /*margin:8px 15px 8px 0;*/
/*}*/
/*.bullet_screen_submit{*/
    /*!*position: absolute;*!*/
    /*!*top:8px;*!*/
    /*!*right:15px;*!*/
    /*text-align: center;*/
    /*width:45px;*/
    /*background-color: #b2b2b2;*/
    /*line-height: 34px;*/
    /*height:34px;*/
    /*float: right;*/
    /*border: none;*/
    /*border-radius:5px;*/
/*}*/

/*index操作按钮*/
.your_action{
    width:100%;
    height:44px;
    padding:0 15px;
}
.your_action .your_action_right{
    padding: 0 8px;
    line-height: 44px;
    display: inline-block;
    text-align: center;
}
.your_action img{
    vertical-align: middle;
    width:16px;
    height:16px;
    margin-right: 2px;
}
.your_action span,.your_action p{
    font-size: 12px;
    color: #8a8a8a;
}
.your_action span{
    padding-left: 3px;
    color: inherit;
}
.bottom{
    height: 100px;
    width: 100%;
}
/*操作方法提示*/
.instructions{
    margin:0 15px;
    padding:0 30px;
    position: absolute;
    bottom:30px;
    color: #888888;
    font-size: 12px;
}
.weui-tabbar{
    position: fixed;
    bottom:0;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
   color: #b2b2b2;
}
input:-moz-placeholder, textarea:-moz-placeholder {
   color:#b2b2b2;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color:#b2b2b2;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color:#b2b2b2;
}

