*:focus{
    outline:none;
}
.container{
    background-color: #f5f5f5;
}
.weui-search-bar{
    width:100%;
    position: fixed;
    top:0;
}
.content_box{
    margin: 44px 0 52px 0;
}
.content{
    padding:0 15px;
    border-bottom: 6px solid #e8e8e8;
    background-color: #fff;
}
.content_top{
    width:100%;
    position: relative;
}
.content a{
    color: #000;
}
.head_portrait{
    width:40px;
    height:40px;
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 20px;
    vertical-align: middle;
}
.wei_name{
    font-size:14px;
}
.topic{
    position: absolute;
    right:0;
    font-size:8px;
    height:18px;
    line-height: 18px;
    margin: 5px 0;
    padding:0 3px;
    border-radius: 3px;
    background-color: #e8e8e8;
}
.topic_followed{
    background-color: #ec971f;
}
.content_txt{
    margin-left: 60px;
    font-size:16px;
    line-height: 1.5em;
}
.pic_show{
    width:100%;
    padding-top:5px;
    text-align: center;
}
.userImg{
    width:100px;
    height:100px;
    margin:0 3px;
    overflow: hidden;
    display: inline-block;
}
.pic_show img{
    width:100px;
}
.galleryImgLeft{
    position: absolute;
    bottom:10px;
    left:20px;
}
.galleryImgCenter{
    position: absolute;
    bottom:10px;
    right:58%;
}
.galleryImgUrl{
    position: absolute;
    bottom:10px;
    right:30%;
}
.galleryImgRight{
    position: absolute;
    bottom:10px;
    right:20px;
}
.galleryImgBulletScreen{
    width:100%;
    height:80%;
    background: none;
    position: absolute;
    bottom:70px;
}
.bullet_screen{
    width:100%;
    position: absolute;
    bottom:0;
}
/*.bullet_screen span{*/
    /*background-color: #fff;*/
/*}*/
.bullet_screen_button {
    margin-left: 15px;
    float: left;
}
.bullet_screen_button span{
    color: #fff;
    background: none;
    margin:0 5px;
}
.bullet_screen .bullet_screen_content{
    padding:0 5px;
    font-size: 16px;
    color: #000;
    display: inline-block;
    width:56%;
    height:35px;
    line-height: 35px;
    float: right;
    border: none;
    margin-bottom: 10px;
}
.bullet_screen_submit{
    text-align: center;
    margin-right: 15px;
    width:14%;
    background-color: #bababa;
    line-height: 35px;
    height:35px;
    float: right;
    border: none;
    margin-bottom: 15px;
}
.your_action{
    width:100%;
    height:25px;
}
.your_action div{
    width:14%;
    line-height: 30px;
    float: right;
}
.your_action img{
    width:16px;
    height:16px;
    margin-right: 2px;
}
.your_action span{
    font-size: 10px;
    color: #8a8a8a;
}
.weui-tabbar{
    position: fixed;
    bottom:0;
}

