.container{
    background-color: #f5f5f5;
}
.my_messages{
    height:88px;
    padding:8px;
    border-bottom:1px solid #bababa;
}
.head_portrait_top{
    width:80px;
    height:80px;
    border-radius: 5px;
    vertical-align: middle;
    margin-right: 12px;
    float: left;
}
.my_messages_middle{
    float: left;
}
.head_portrait,.my_messages_middle,.my_messages_num,.my_messages_num div,.my_messages_right{
    display: inline-block;
}
.follow_num{
    text-align: center;
}
.my_messages_right{
    height:80px;
    float: right;
}
.my_messages_right img{
    margin: 8px 15px;
    float: none;
    display: block;
}
.messages{
    background-color: #fff;
    text-align: center;
}
.messages span{
    color: #8a8a8a;
}
.messages .selected{
    color:#1aad19;
}
.blank{
    padding:30% 0;
    text-align: center;
}
.topic{
    text-align: right;
}
/*.message_top{*/
    /*border-bottom: 1px solid #bababa;*/
/*}*/
/*.message_top,.message_bottom{*/
    /*margin-left: 25px;*/
    /*line-height: 50px;*/
    /*height:50px;*/
/*}*/