<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我</title>
    <link rel="stylesheet" href="css/weui.min.css">
    <link rel="stylesheet" href="css/dropload.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/mine.css">
    <style>
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
<div id="app" class="container">
    <div class="my_messages">
        <img src="" alt="" class="head_portrait_top" id="head_img"/>
        <div class="my_messages_middle">
            <div class="name"></div>
            <div class="my_messages_num">
                <div>
                    <p id="follow_num" class="follow_num"></p>
                    <p>关注</p>
                </div>
                <div>
                    <p id="be_follow_num" class="follow_num"></p>
                    <p>粉丝</p>
                </div>
            </div>
        </div>
        <div class="my_messages_right">
            <img class="follow_action" src="images/message.png" alt="">

            <div class="my_messages_friend">
                <img src="images/add_friend.png" alt="" id="friend">
                <span class="weui-badge weui-badge_dot"
                      style="position: absolute;top: 5px;right: 15px;display: none"></span>
            </div>
        </div>
    </div>
    <div class="messages">
        <span id="publish" v-on:click="getArticles(0,event)" class="selected">发布的文章</span>
        <span>|</span>
        <span id="comment" v-on:click="getArticles(1,event)">评论过的文章</span>
    </div>
    <div class="blank" v-if="show"><img src="images/none.png" alt=""></div>
    <div class="content_box" style="margin-top: 5px">
        <div v-cloak v-for="item in items" class="content">
            <div class="content_top">
                <a :href="['mine.html?user_id='+item.user.id]">
                    <img :src="item.user.head_img" alt="" class="head_portrait">
                </a>
                <span class="wei_name">{{ item.user.nickname }}</span>
                <a href="javascript:void(0)" onclick="follow(1,1)">
                    <span class="topic" :data-id="item.topic.id">{{item.topic.content}}</span>
                </a>
            </div>
            <a :href="['article_detail.html?reply_id='+item.id]"><p class="content_txt">{{item.content}}</p></a>
            <div class="pic_show">
                <div v-for="img in item.images" class="userImg">
                    <img :data-id="img.id" :src="['/flwechat/public/storage/'+img.img]" alt="" class="img_show">
                </div>
            </div>
            <div class="your_action">
                <div class="your_action_right">
                    <a :href="['article_detail.html?reply_id='+item.id]">
                        <img src="images/comment.png" alt=""><span>{{item.comment_num}}</span></a>
                </div>
                <div class="your_action_right">
                    <img id="img_oppose_19" src="images/oppose.png" alt="" onclick="action(19,1,this)">
                    <span id="span_oppose_19">{{item.oppose_num}}</span>
                </div>
                <div class="your_action_right">
                    <img id="img_support_19" src="images/support.png" alt="" onclick="action(19,0,this)">
                    <span id="span_support_19">{{item.support_num}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="weui-tabbar">
        <a href="index.html" class="weui-tabbar__item">
                    <span style="display: inline-block;position: relative;">
                        <img src="./images/homepage.png" alt="" class="weui-tabbar__icon">
                        <!--<span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>-->
                    </span>
            <p class="weui-tabbar__label">首页</p>
        </a>
        <a href="follow.html" class="weui-tabbar__item">
            <img src="./images/follow.png" alt="" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">关注</p>
        </a>
        <a href="publish.html" class="weui-tabbar__item">
            <img src="./images/release.png" alt="" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">发布</p>
        </a>
        <a href="friends.html" class="weui-tabbar__item">
                    <span style="display: inline-block;position: relative;">
                        <img src="./images/friend.png" alt="" class="weui-tabbar__icon friend_icon">
                        <!--<span class="weui-badge weui-badge_dot" style="position: absolute;top: 0;right: -6px;"></span>-->
                    </span>
            <p class="weui-tabbar__label">好友</p>
        </a>
        <a href="mine.html" class="weui-tabbar__item weui-bar__item_on">
            <img src="./images/me2.png" alt="" class="weui-tabbar__icon mine_icon">
            <p class="weui-tabbar__label">我</p>
        </a>
    </div>
</div>
<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="js/jquery.cookie.js"></script>
<script type="text/javascript" src="js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="js/jsweixin.js"></script>
<script type="text/javascript" src="js/jquery.danmu.js"></script>
<script type="text/javascript" src="js/show_img.js"></script>
<script type="text/javascript" src="js/dropload.min.js"></script>
<!--<script type="text/javascript" src="js/article_list.js"></script>-->
<script type="text/javascript" src="js/follow_tool.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="//cdn.bootcss.com/vue-resource/1.2.1/vue-resource.min.js"></script>
<script type="text/javascript" src="js/mine.js"></script>
</body>
</html>