<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>图片展示</title>
    <link rel="stylesheet" href="css/weui.min.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/show_img_url.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div id="app" class="weui-gallery" id="gallery" style="display: block;">
    <span v-cloak class="weui-gallery__img correct" id="galleryImg"
          :style="'background-image: url(/flwechat/public/storage/'+ images[index].img +');'">
        <div class="mark_img" :style="'background-image: url(/flwechat/public/storage/'+ images[index].mark +');'" @click="imgClick()">
            <div v-if="show" class="galleryImgUser">
                <div class="galleryImgUserContent">
                    <img :src="images[index].article.user.head_img" alt="" class="galleryImgUserImg">
                    <span>{{images[index].article.user.nickname}}</span><span>&bull;</span><span>{{images[index].article.topic.content}}</span>
                    <p id="img_article_content">{{images[index].article.content}}</p>
                </div>
            </div>
            <!--<div id="danmu" class="galleryImgBulletScreen">-->
            <!--</div>-->
        </div>
    </span>
    <div class="opposite">
        <div class="" style="opacity: 0">
            <div class="opposite-content"><p class="expands">相关阅读</p>
                <!--另外一种颜色的class是expands_li_background_color-->
                <ul>
                    <li v-for="(item,index) in images[index].expands" :class="{expands_li_background_color:classActive[index]}">
                        <a :href="item.href">
                            <p class="expands_title">{{item.title}}</p>
                            <p class="expands_abstract">
                                {{item.abstract}}
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ads_box">
                <img src="images/ads.jpg" alt="">
            </div>
        </div>
    </div>
    <div v-if="show" class="bullet_screen">
        <div class="bullet_screen_mask">

        </div>
        <div class="bullet_screen_panel">
            <action :article="images[index].article"></action>
            <div class="bullet_screen_img">
                <span class="galleryImgLeft" @click="changeIndex(-1)"><img src="images/left2.png" alt=""></span><span
                    class="galleryImgRight" @click="changeIndex(1)"><img src="images/right2.png" alt=""></span><span
                    class="galleryImgUrl" @click="changeIcon()"><img src="images/url2.png" alt=""></span><span
                    class="galleryImgCenter" @click="close()"><img src="images/close2.png" alt=""></span>
            </div>
        </div>

    </div>
</div>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.cookie.js"></script>
<script type="text/javascript" src="js/jquery.danmu.js"></script>
<script type="text/javascript" src="js/jsweixin.js"></script>
<script src="//cdn.bootcss.com/vue/2.2.4/vue.min.js"></script>
<script src="//cdn.bootcss.com/axios/0.15.3/axios.min.js"></script>
<script type="text/javascript" src="js/show_img.js"></script>
</body>
</html>